<h2 class="text-center mb-4">مدیریت تراکنش‌ها</h2>

  
  <div class="card shadow-lg p-3 mb-5 bg-white rounded">
    <div class="card-body">
      <h4 class="card-title text-primary">افزودن تراکنش جدید</h4>
      <app-transaction-form (transactionsLoadAgain)="loadTransaction()"></app-transaction-form>
    </div>
  </div>

  
  <div class="card shadow-lg p-3">
    <div class="card-body">
      <h4 class="card-title text-primary">لیست تراکنش‌ها</h4>
      <table class="table table-striped table-hover mt-3">
        <thead class="table-dark">
          <tr  >
            <th>نوع</th>
            <th>مبلغ</th>
            <th>توضیحات</th>
            <th>تاریخ</th>
            <th>حذف</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let transaction of transactions" >
            <td>
              <span  [class.text-success]="transaction.type === 'واریز'" [class.text-danger]="transaction.type === 'برداشت'" >
                {{ transaction.type }}
              </span>
            </td>
            
            <td>{{ transaction.amount | currency: 'IRR' }}</td>
            <td>{{ transaction.description }}</td>
            <td>{{ transaction.date | date: 'yyyy/MM/dd' }}</td>
            <td>
              <button class="btn btn-danger btn-sm" (click)="onTransactionDeleted(transaction.id)">
                حذف
              </button>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>