h2 {
    font-weight: bold;
    color: #2c3e50;
  }
  
  .card {
    border-radius: 15px;
  }
  
  .btn-success {
    background-color: #28a745;
    border: none;
  }
  
  .btn-danger {
    background-color: #dc3545;
    border: none;
  }
  
  .table th {
    text-align: center;
  }
  
  .table td {
    text-align: center;
  }

  .vazirmatn-font span {
    font-family: "Vazirmatn", serif !important;
    font-optical-sizing: auto;
    font-weight: 300;
    font-style: normal;
    
  }
  
html, body { height: 100%; }
body { margin: 0; font-family: Vazirmatn, "Helvetica Neue", sans-serif; }
