<div class="auth-container">
  <h2>ثبت‌نام</h2>
  <form (submit)="register()">
    <input type="text" [(ngModel)]="username" name="username" placeholder= "نام کاربری" required />
    <input type="email" [(ngModel)]="email" name="email" placeholder="ایمیل" required />
    <input type="password" [(ngModel)]="password" name="password" placeholder="رمز عبور" required />
    <button type="submit">ثبت‌نام</button>
  </form>
  <p>حساب کاربری دارید؟ <a (click)="router.navigate(['auth/login'])">وارد شوید</a></p>
</div>